name: Publish Docker images

on:
  push:
    tags:
      - "*"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push database image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: database/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/2d6-dungeon-database:${{ github.ref_name }}
            ${{ secrets.DOCKERHUB_USERNAME }}/2d6-dungeon-database:latest

      - name: Build and push DAB image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: database/dab/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/2d6-dungeon-dab:${{ github.ref_name }}
            ${{ secrets.DOCKERHUB_USERNAME }}/2d6-dungeon-dab:latest

      - name: Build and push web app image
        uses: docker/build-push-action@v6
        with:
          context: src
          file: src/2d6-dungeon-web-client/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/2d6-dungeon-app:${{ github.ref_name }}
            ${{ secrets.DOCKERHUB_USERNAME }}/2d6-dungeon-app:latest
